Repository woocommerce/pinterest-for-woocommerce, pull requests merged in 2023-06, with the labels that each got.

#741 Refactor feed generator action backoff.
  class-pinterest-for-woocommerce.php
  src/Exception/FeedFileOperationsException.php
  src/FeedFileOperations.php
  src/FeedGenerator.php
  tests/Unit/FeedGeneratorTest.php
Labels: type: enhancement, changelog: add

#769 Release v1.3.2
  changelog.txt
  package-lock.json
  package.json
  phpcs.xml
  pinterest-for-woocommerce.php
  readme.txt
  src/LocalFeedConfigs.php
Labels: changelog: none

#770 Release v1.3.2
  changelog.txt
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
Labels: changelog: none

#774 Release 1.3.3 - merge release into trunk
  changelog.txt
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
Labels: changelog: none

#780 Remove Ads Campaign from readme.txt
  readme.txt
Labels: changelog: none

#777 Abort Tracking if this is a REST API request
  src/Tracking.php
Labels: category: compatibility

#782 Product version bump update
  changelog.txt
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
Labels: changelog: none

#783 Merge release 1.3.4 into trunk
  changelog.txt
  i18n/languages/pinterest-for-woocommerce.pot
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
  src/Tracking.php
Labels: changelog: none

#785 Release/1.3.5
  changelog.txt
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
  src/FeedGenerator.php
Labels: changelog: none
