Repository woocommerce/pinterest-for-woocommerce, pull requests merged in 2023-11, with the labels that each got.

#837 Update docs domain name to Woo.com
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  README.md
  TRACKING.md
  composer.json
  pinterest-for-woocommerce.php
  readme.txt
  src/AdCredits.php
  src/MultichannelMarketing/PinterestChannel.php
Labels: changelog: update

#843 Release 1.3.13 - merge trunk into develop
  changelog.txt
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
Labels: changelog: none

#841 Add token exchange endpoint
  src/API/TokenExchangeV3ToV5.php
Labels: type: enhancement, changelog: add, changelog: none

#845 Add token exchange update procedure.
  class-pinterest-for-woocommerce.php
  composer.json
  composer.lock
  src/API/Base.php
  src/API/TokenExchangeV3ToV5.php
  src/PluginUpdate.php
Labels: type: enhancement, changelog: add, changelog: none

#854 Release v1.3.14
  changelog.txt
  class-pinterest-for-woocommerce.php
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
  src/API/Base.php
Labels: changelog: none

#855 Release v1.3.14 to `develop`
  changelog.txt
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
Labels: changelog: none

#857 Add url parameter to token refresh call.
  src/RefreshToken.php
Labels: type: enhancement, changelog: add

#851 Declare compatibility with the checkout blocks.
  pinterest-for-woocommerce.php
Labels: type: enhancement, category: compatibility, changelog: add

#859 Release v1.3.15 into trunk
  changelog.txt
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
Labels: changelog: none

#861 Release v1.3.15
  changelog.txt
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
Labels: changelog: none
