Repository woocommerce/pinterest-for-woocommerce, pull requests merged in 2023-12, with the labels that each got.

#866 Release 1.3.16
  changelog.txt
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
  src/Merchants.php
Labels: changelog: none

#865 Update promo code
  src/AdCreditsCoupons.php
Labels: changelog: update

#868 Update Woo.com developer blog URLs
  docs/testing-flows.md
  readme.txt
Labels: changelog: doc

#869 Release/1.3.17 - into `trunk`
  changelog.txt
  docs/testing-flows.md
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
  src/AdCreditsCoupons.php
Labels: changelog: none
