Repository woocommerce/pinterest-for-woocommerce, pull requests merged in 2023-02, with the labels that each got.

#666 Fix PHP 8 ${var} deprecation notices.
  .github/workflows/php-coding-standards.yml
  .gitignore
  .phplint.yml
  src/Admin/Product/Attributes/AttributesTab.php
Labels: type: bug, changelog: fix

#690 Fix deprecated method argument version.
  src/Tracking.php
Labels: type: bug, changelog: fix

#691 Release/1.2.11
  .github/workflows/php-coding-standards.yml
  .gitignore
  .phplint.yml
  assets/source/setup-task/index.js
  changelog.txt
  class-pinterest-for-woocommerce.php
  includes/admin/class-pinterest-for-woocommerce-admin.php
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
  src/Admin/Product/Attributes/AttributesTab.php
  src/Admin/Tasks/Onboarding.php
  src/Tracking.php
  tests/Unit/TasksTest.php
  tests/Unit/TrackingTest.php
  webpack.config.js
Labels: changelog: none

#692 Release 1.2.11
  changelog.txt
  class-pinterest-for-woocommerce.php
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
  src/Admin/Tasks/Onboarding.php
Labels: changelog: none

#695 Merge release 1.2.12 into trunk
  changelog.txt
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
  src/Tracking.php
Labels: changelog: none

#694 Product version bump update
  changelog.txt
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
Labels: changelog: none

#668 Fix price mismatch when taxable address is different than shipping zone
  src/FeedGenerator.php
  src/ProductsXmlFeed.php
  tests/Unit/FeedXMLGenerationTest.php
Labels: type: bug, changelog: fix

#650 Fix multiple registered feeds on site language change.
  src/API/Base.php
  src/API/FeedIssues.php
  src/API/FeedState.php
  src/FeedRegistration.php
  src/Feeds.php
  src/Merchants.php
  src/Notes/Collection/CatalogSyncErrors.php
Labels: type: bug, category: refactor, impact: high

#688 Add unit tests to locale mappings feature.
  tests/Unit/LocaleMapperTest.php
Labels: changelog: none

#696 Merge develop into trunk after 1.2.13 release
  assets/source/setup-guide/app/components/HealthCheck/index.js
  assets/source/setup-guide/app/views/WizardApp.js
  changelog.txt
  class-pinterest-for-woocommerce.php
  package-lock.json
  package.json
  phpcs.xml
  pinterest-for-woocommerce.php
  readme.txt
  src/API/Auth.php
  src/API/Base.php
  src/API/FeedIssues.php
  src/API/FeedState.php
  src/API/HealthCheck.php
  src/Exception/PinterestApiLocaleException.php
  src/FeedGenerator.php
  src/FeedRegistration.php
  src/Feeds.php
  src/LocaleMapper.php
  src/Merchants.php
  src/Notes/Collection/CatalogSyncErrors.php
  src/ProductsXmlFeed.php
  tests/Unit/FeedXMLGenerationTest.php
  tests/Unit/LocaleMapperTest.php
Labels: changelog: none
