Repository woocommerce/pinterest-for-woocommerce, pull requests merged in 2024-07, with the labels that each got.

#1032 Add regenerator-runtime as script dependency (quick fix for WordPress 6.6 breaking change)
  includes/admin/class-pinterest-for-woocommerce-admin.php
Labels: category: compatibility, changelog: fix

#1034 Fix checkbox control UI issue with WordPress 6.6
  assets/source/setup-guide/app/style.scss
Labels: category: compatibility

#1036 Release v1.4.4 - merge release into trunk
  changelog.txt
  class-pinterest-for-woocommerce.php
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
  src/API/APIV5.php
  src/API/Base.php
Labels: changelog: none

#1037 Release v1.4.4 - merge changes from develop into trunk
  assets/source/setup-guide/app/components/Billing/Billing.js
  assets/source/setup-guide/app/components/Billing/style.scss
  assets/source/setup-guide/app/steps/BillingStatus.js
  assets/source/setup-guide/app/style.scss
  assets/source/setup-guide/app/views/ConnectionApp.js
  changelog.txt
  class-pinterest-for-woocommerce.php
  includes/admin/class-pinterest-for-woocommerce-admin.php
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
  src/API/APIV5.php
  src/API/Base.php
  src/API/TokenExchangeV3ToV5.php
  src/FeedRegistration.php
  src/Feeds.php
  src/Notes/TokenInvalidFailure.php
  src/Tracking/Conversions.php
  tests/E2e/Pinterest401DisconnectE2eTest.php
  tests/E2e/PinterestConnectE2eTest.php
  tests/Unit/Api/APIV5Test.php
  tests/Unit/PinterestForWoocommerceTest.php
Labels: changelog: none

#1041 Release/1.3.25
  assets/source/setup-guide/app/style.scss
  changelog.txt
  includes/admin/class-pinterest-for-woocommerce-admin.php
  package-lock.json
  package.json
  pinterest-for-woocommerce.php
  readme.txt
Labels: changelog: none

#1043 Bump minimist
  package-lock.json
Labels: type: technical debt, changelog: dev
